body {
    padding-top: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/pattern.png");
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

.login{
    background-color: #DCEAED;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content{
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.form-stuff{
    background-color: #DCEAED;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    font-size: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #325568;
    color: white;
    text-align: center;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

a, a:hover{
    color: #325568;
}

ul{
    list-style-type: none;
}

li {
    list-style-type: none;

}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #325568;
    text-decoration: none;
    background-color: #325568;  /*change color of links in drop down here*/
    list-style-type: none;

}

/* navbar */
.navbar-inverse {
    background-color: #325568;
    border-color: #325568;
}

nav-item {
    margin-top: 0px;
}

.homepage_info {
    padding: 10px;
}

.group_pic {
    width: 100%;
    height: auto;
}
