.board {
    height: 40vw;
    width: 20vw;
    background: #dddddd;
}

.pixel {
    height: 2vw;
    width: 2vw;
    background: #999999;
    border: 1px solid black;
}

.game_start {
    text-align: center;
    background: lightsteelblue;
    border: 1px solid gray;
    border-radius: 5px;
    height: auto;
    width: 20vw;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
