<html>
  <head>
    <title>
    Tetris
    </title><br>
  </head>
  <body>
    <center>
    <h1>Make an Account</h1>

<center>
  <h1>Fill In The Blanks To Create A New Account!</h1>
  <form method="POST" action = '/creator'>
    Username:
    <input type="text" name="username">
    <br>
    <br>
    Password:
    <input type="password" name="password">
    <br>
    <br>
    Re-Type Password:
    <input type="password" name="npassword">
    <br><br>
    <input type="submit" name="create" value="CREATE ACCOUNT" style="width:150px; height:30px;">
    &nbsp;&nbsp;&nbsp;&nbsp;
  </form><br>
</body>
</html>
