{% extends "template.html" %}
{% block title %}Highscores{% endblock %}
{% block content %}

<br>
   <div class="container">
     <div class="row">

       <div class="col">
           <h2> All Time Highscores </h2>
           <table>
             <tr>
               <th></th>
             </tr>
             <tr>
               <td>{{ score1 }}</td>
             </tr>
             <tr>
               <td>{{ score2 }} </td>
             </tr>
             <tr>
               <td>{{ score3 }}</td>
             </tr>
             <tr>
               <td>{{ score4 }}</td>
           </tr>
           <tr>
             <td>{{ score5 }}</td>
         </tr>
           </table>
       </div>

       <div class="col">
           <h2> Average HighScores </h2>
           <table>
             <tr>
               <th></th>
             </tr>
             <tr>
               <td>{{ score1 }}</td>
             </tr>
             <tr>
               <td>{{ score2 }} </td>
             </tr>
             <tr>
               <td>{{ score3 }}</td>
             </tr>
             <tr>
               <td>{{ score4 }}</td>
           </tr>
           <tr>
             <td>{{ score5 }}</td>
         </tr>
           </table>
         </div>
       </div>
     </div>
   </div>




{% endblock %}
