{% extends "template.html" %}
{% block title %}Highscores{% endblock %}
{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col"><h1>{{ game }} Leaderboard</h1></div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col">
      <center>
        <h2> All Time Highscores</h2>
        <br>
        <div class="row">
          <div class="col">
            <h4><b><u>User</u></b></h4>
          </div>
          <div class="col">
            <h4><b><u>Score</u></b></h4>
          </div>
        </div>
        {% for data in highscores %}
        <div class="row">
          <div class="col">
            <a href="/profile?user={{ data[0] }}"><h4>{{ data[0] }}</h4></a>
          </div>
          <div class="col">
            <h4>{{ data[1] }}</h4>
          </div>
        </div>
        {% endfor %}
      </center>
    </div>

    <div class="col">
      <center>
        <h2> Highest Average Scores </h2>
        <br>
        <div class="row">
          <div class="col">
            <h4><b><u>User</u></b></h4>
          </div>
          <div class="col">
            <h4><b><u>Score</u></b></h4>
          </div>
        </div>
        {% for data in averages %}
        <div class="row">
          <div class="col">
            <a href="/profile?user={{ data[0] }}"><h4>{{ data[0] }}</h4></a>
          </div>
          <div class="col">
            <h4>{{ data[1]|int }}</h4>
          </div>
        </div>
        {% endfor %}
      </center>
    </div>

  </div>
</div>
{% endblock %}
