<html>
  <head>
    <title>
    Login to Tetris!
    </title><br>
  </head>
  <body>
    <center>
    <h1>Login!</h1>
   {% set messages = get_flashed_messages() %}
   {% for msg in messages %}
   {{ msg }}
   {% endfor %}
     <form method="POST">
       Username:
       <input type="text" name="username">
       <br>
       <br>
       Password:
       <input type="password" name="password">
       <br>
       <br>
       <br>
       <center>
         <input type="submit" name="login" value="Login" style="width:150px; height:30px;">
       </center>
     </form>

     <br>
     <br>
     <form method = 'GET' action = '/acc'>
       <center>
         <h1>Create A New Account!</h1>
         <input type="submit" name="create" value="Create an account" style="width:150px; height:30px;">
       </center>
     </form>
     <br>

     <form method = 'GET' action = '/playgame'>
       <center>
         <h1>Demo of Tetris</h1>
         <input type="submit" name="run" value="Tetris Demo" style="width:150px; height:30px;">
       </center>
     </form>
     <br>

   </center>
 </body>
 </html>
