{% extends "template.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div>
  <h2 class="text-center"> Log In </h2>
  <div class="modal-body row">
    <div class="col-md-4 container login">
      <form method="POST" action="/login">
	      <div class="form-group">
          Username
          <input name="user" type="text" class="form-control" placeholder="Enter your username" required>
	      </div>
	      <div class="form-group">
          Password
          <input name="password" type="password" class="form-control" placeholder="Enter password" required>
	      </div>
	      <input class="btn btn-info btn-block" type="submit" value="Login">
      </form>
      <p style="padding-top: 10px;">Don't have an account? Create one
	      <a href="/register">Here!</a>
      </p>
      <p> Want to Login with Facebook! Click
        <a href="{{ facebook_link }}">Here!</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
