{% extends "template.html" %}
{% block title %}Tetromino{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/tetris.css') }}">
{% endblock %}
{% block content %}
<center>
  <div class="game">
    <div class="board">
      {% for i in range(20) %} <div class="row">
      {% for j in range(10) %} <div class="pixel" id="xy{{j}}-{{i}}"> </div>
      {% endfor %} </div>
      {% endfor %}
    </div>
    <div class="game_start"> Press Space to start</div>
  </div>
</center>
<script src="{{ url_for('static',filename='js/tetris.js') }}"></script>
{% endblock %}
