{% extends "template.html" %}
{% block title %}{{ user }}'s Profile{% endblock %}
{% block content %}
<br>

<div class="container">

  <div class="row">
    <div class="col"></div>
    <div>
      <center>
        <h2> Tetris </h2>
      </center>
    </div>
    <div class="col"></div>
  </div>
  <br>

  <div class="row">

    <div class="col">
      <h2>{{ user }}'s Profile </h2>
      <img src="data:image/jpg;base64,{{ image }}" width=50%>
    </div>

    <div class="col">
      <h2> Latest Scores </h2>
      {% for score in tetris_latest %}<h4 style="padding-top:5px; padding-bottom: 5px;">{{ score }}</h4>
      {% endfor %}
    </div>

    <div class="col">
      <div class="col">
        <h2> High Score </h2>
        <h4>{{ tetris_highscore }}</h4>
      </div>
      <br>
      <div class="col">
        <h2> Average Score </h2>
        <h4>{{ tetris_average|int }}</h4>
      </div>
      <br>
      <div class="col">
        <h2> Times Played </h2>
        <h4>{{ tetris_numplayed }}</h4>
      </div>
    </div>

  </div>

  <br>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <center>
        <h2> Snek </h2>
      </center>
    </div>
    <div class="col"></div>
  </div>
  <br>

  <div class="row">

    <div class="col">
      {% if current_user %}
      <div class="modal-body row">
        <div class="col-md-12 container">
          <h4>Update Profile Picture</h4>
          <form method="POST" action="/avatar" enctype="multipart/form-data">
            Choose File
            <input type="file" name="image" accept="image/*" required>
            <input class="button" type="submit" value="Upload Image">
          </form>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="col">
      <h2> Latest Scores </h2>
      {% for score in snek_latest %}<h4 style="padding-top:5px; padding-bottom: 5px;">{{ score }}</h4>
      {% endfor %}
    </div>

    <div class="col">
      <div class="col">
        <h2> High Score </h2>
        <h4>{{ snek_highscore }}</h4>
      </div>
      <br>
      <div class="col">
        <h2> Average Score </h2>
        <h4>{{ snek_average|int }}</h4>
      </div>
      <br>
      <div class="col">
        <h2> Times Played </h2>
        <h4>{{ snek_numplayed }}</h4>
      </div>
    </div>

  </div>

</div>


{% endblock %}
